.form__rpassword{display: flex;flex-direction: column;}
.rpassword{
    &__success{display: flex;flex-direction: column;align-items: center;justify-content: center;gap: 20px;}
    &__success-img{width: 180px;aspect-ratio: 1/1;object-fit: contain;}
    &__success-text{text-align: center;font-weight: 400;}
}