<div class="page page_center">
    <div class="form__wrap">
        {{#if is_authenticated}}
        <div class="rpassword__success">
            <img class="rpassword__success-img" src="/public/mail3.gif" alt="">
            <div class="rpassword__success-text">A link to recover your password has been sent to your email</div>
        </div>
        {{else}}
        <Form class="form__rpassword">
            <h1 class="form__title form__title_normweight">Enter the email or phone number that you specified during registration</h1>
            {{> Input label="Email or phone number" type="text" name="login" }}
            {{> Button label="Send code" type="primary" mode="action" }}
        </Form>
        {{/if}}
    </div>
</div>