.form__rpassword{display: flex;flex-direction: column;}
.rpassword__success{display: flex;flex-direction: column;align-items: center;justify-content: center;gap: 20px;}
.rpassword__success-img{width: 180px;aspect-ratio: 1/1;object-fit: contain;}
.rpassword__success-text{text-align: center;font-weight: 400;}