<form class="form avatar-form">
    <div class="avatar-form__error"></div>
    <label class="avatar-form__container">
        <input class="avatar-form__input" type="file" name="avatar" accept="image/*">
    </label>
    <div class="avatar-form__preview-wrap">
        <img class="avatar-form__preview-img" src="" alt="avatar">
    </div>
    {{> Button label="Set avatar" classes="button_action button_hidden" }}
</form>