<div class="attach-modal">
    {{> Button label="Photo or Video" classes="button_nofill button_normweight button_photo" }}
    {{> Button label="File" classes="button_nofill button_normweight button_file" }}
    {{> Button label="Location" classes="button_nofill button_normweight button_location" }}
</div>