<div class="page page_center">
    <div class="form__wrap">
        <Form class="form__registrate">
            <h1 class="form__title">Sign Up in chat</h1>
            {{> Input label="Login" type="text" name="login" }}
            {{> Input label="Email" type="text" name="email" }}
            {{> Input label="Password" type="password" name="password" }}
            {{> Input label="Retype password" type="password" name="retype-password" }}
            {{> Button label="Sign up" type="link" mode="action" }}
        </Form>
    </div>
</div>