.profile__wrap{width: 500px;margin: 0 auto;}
.avatar__wrap{}
.avatar__element{}
.avatar__image{}
.profile__name{}
.profile__rows{display: flex;flex-direction: column;gap: 6px;}
.profile__manage{display: flex;flex-direction: column;align-items: center;gap: 10px;margin: 30px 0 0 0;padding: 0 10px;}
.profile__manage .button{min-width: 100px;}