<form class="form passwd-form">
    {{> Input type="password" label="Enter the old password" name="oldPassword" }}
    {{> Input type="password" label="Come up with a new password" name="newPassword" }}
    {{> Input type="password" label="Repeat the new password" name="retypePassword" }}
    {{> Button label="I don't remember the password" classes="button_nofill button-greytext button_normweight" page="Remember password (authenticated)" }}
    {{> Button label="Change password" classes="button_action" }}
</form>