<form class="form passwd-form">
    {{> Input type="password" label="Enter the old password" name="old_password" }}
    {{> Input type="password" label="Come up with a new password" name="new_password" }}
    {{> Input type="password" label="Repeat the new password" name="retype_password" }}
    {{> Button label="I don't remember the password" classes="button_nofill button-greytext button_normweight" page="Remember password (authorized)" }}
    {{> Button label="Change password" classes="button_action" }}
</form>