<div class="modal">
    <div class="modal__wrap">
        <div class="modal__head">
            <div class="modal__title">{{ title }}</div>
            <button class="modal__close-btn" page="nav"></button>
        </div>
        <div class="modal__content">{{{ content }}}</div>
    </div>
</div>