.modal{position: fixed;z-index: 9001;width: 100%;height: 100%;left: 0;top: 0;
    display: flex;align-items: center;justify-content: center; background-color: #000000a3;}
.modal__wrap{position: relative; width: 100%;height: auto;max-width: 350px;max-height: 540px;
    border-radius: 10px;background-color: #fff;padding: 22px 24px 34px 24px;box-shadow: 0 6px 20px 0 #00000059;}
.modal__head{display: flex;align-items: flex-end;justify-content: space-between;margin: 0 0 30px 0;}
.modal__title{font-weight: 500;}
.modal__close-btn{position: relative;width: 30px;height: 30px;padding: 5px;}
.modal__close-btn::before{content: url('/src/assets/img/close.svg');width: 100%;height: 100%;}
.modal__content{overflow: auto;}