.page__nav{position: relative;width: 100%;height: 100vh;display: flex;align-items: center;justify-content: center;background-color: #ffe300;}
.nav{position: relative;width: 400px;padding: 20px;border: 10px solid #000;outline: 20px solid #000;outline-offset: 6px;}
.nav__logo-wrap{display: flex;justify-content: center;}
.nav__logo{width: 94px;}
.nav__title{margin: 10px 0 20px 0;text-align: center;font-family: 'Pacifico', sans-serif;font-size: 3.5em;}
.nav__list{display: flex;flex-direction: column;align-items: center;justify-content: center;gap: 24px;}
.nav__list-li{line-height: 1.1em;font-size: 1.3em;text-align: center;}
.nav__list-a{display: flex;align-items: center;gap: 10px;color: #000;font-weight: 300;}
.nav__list-a::before,
.nav__list-a::after{content: '';display: inline-block;width: 10px;height: 10px;background-color: #000;
    transform: rotate(45deg);opacity: 0;transition: all .3s ease-out;}
.nav__list-a::before{}
.nav__list-a::after{}
.nav__list-a:hover{text-decoration: underline;}
.nav__list-a:hover::before,
.nav__list-a:hover::after{opacity: 1;}
