<div class="page__nav">
    <div class="nav">
        <div class="nav__logo-wrap">
            <img class="nav__logo" src="/src/assets/img/wm.svg" alt="">
        </div>
        <h1 class="nav__title">Hello World!</h1>
        <ul class="nav__list">
            {{#each pages }}
            <li class="nav__list-li"><a class="nav__list-a" href="#" page="{{this}}">{{this}}</a></li>
            {{/each}}
        </ul>
    </div>
</div>