.message{position: relative;display: grid;grid-template: 'avatar msg' auto / 50px 1fr;grid-gap: 0 10px;margin: 0 0 6px 0;}
.message_self{}
.message__avatar{grid-area: avatar;position: relative;aspect-ratio: 1/1;border-radius: 50%;overflow: hidden;}
.message__avatar img{width: 100%;height: 100%;object-fit: cover;object-position: center;}
.message:not(.message_self) + .message:not(.message_self) .message__avatar,
.message_self + .message_self .message__avatar{opacity: 0;}
.message__wrap{grid-area: msg;justify-self: start;max-width: 440px;padding: 14px;border-radius: 10px; background-color: var(--grey-color);}
.message_self .message__wrap{}
.message__head{display: flex;align-items: flex-end;justify-content: space-between;gap: 10px;margin: 0 0 10px 0;}
.message__sender{font-weight: 400;}
.message__date{font-size: .8em;opacity: .6;}
.message__text{}
.message-attach{position: relative;margin: 0 0 6px 0;padding: 0 0 0 60px;max-width: 500px;}
.message-attach_self{}
.message-attach__wrap{display: grid;grid-template-columns: 1fr 1fr 1fr;grid-gap: 4px; }
.message-attach__wrap[data-length="1"]{grid-template-columns: 1fr;}
.message-attach__wrap[data-length="2"]{grid-template-columns: 1fr 1fr;}
.message-attach__item{position: relative;aspect-ratio: 1/1;}
.message-attach__wrap[data-length="1"] .message-attach__item{aspect-ratio: auto;}
.message-attach__wrap[data-length="2"] .message-attach__item{aspect-ratio: 4/3;}
.message-attach__item img{position: relative;display: block;width: 100%;height: 100%;object-fit: cover;object-position: center;}

.message_self + .message:not(.message_self),
.message:not(.message_self) + .message_self,
.message-attach + .message_self,
.message-attach_self + .message:not(.message_self){margin-top: 20px;}